body{

    background-image:url("Background.jpg");
    background-size: cover;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
        grid-column-gap: 10spx;
        grid-row-gap: 15px;
}

.grid {
    background-image: url("Background2.jpg");
    color:white;
    padding: 5px;
   font-size: 50;
  
}

.header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 95%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

.content1 {
    grid-column-start: 1;
    grid-column-end: 2.5;
    grid-row-start: 1;
    grid-row-end: 2.5;
    background-image:url(Background3.png);
    width: 80%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
  }

img{
    border-radius: 50%;
    border: 2px solid white;
    padding: 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 150px;
}

h2{
    text-align: center;
}

h1{
    color:   white;
    text-align: center;
}

hr{
    border-top: 5px double  white;
    width: 80%;
}

.content {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-image:url("Background2.jpg");
    height: 1200px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

.contenTT {
    grid-column-start: 1;
    grid-column-end: 2.5;
    grid-row-start: 1;
    grid-row-end: 2.5;
    background-image:url("Background3.png");
    width: 80%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
  }

.hover{
    border-top: 5px double white;
    width: 33%;
  }

table{
    border: 1px  solid black;
    padding: .5%;
    background-image:url("table.jpg");
    margin-left: auto;
    margin-right: auto;
}

tr{
    width: 90%;
}

th  {
    border: 2px  solid black;
     margin-left: 10%;
     margin-right: 10%;
    font-size: 150%;
    color: black;
   text-align: center;
    
}

td{
 border: 2px  solid black;
 color: black;
 font-size:  150%;
 margin-left: 10%;
 margin-right: 10%;
 text-align: center;
 
 }

 .contenTTT {
    grid-column-start: 1;
    grid-column-end: 2.5;
    grid-row-start: 1;
    grid-row-end: 2.5;
    background-image:url(Background3.png);
    width: 80%;
    height: 230px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
  }

.hover2{
    border-top: 5px double white;
    width: 30%;
  }

  h2{
    text-align: center;
}

.hover3{
    border-top: 5px double white;
    width: 35%;
  }

.contenTTTT {
    grid-column-start: 1;
    grid-column-end: 2.5;
    grid-row-start: 1;
    grid-row-end: 2.5;
    background-image:url("Background3.png");
    width: 80%;
    height: 230px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
  }
 
.hover4{
    border-top: 5px double white;
    width: 10%;
  }